{% extends 'index.html' %}
{% load static %}

{% block 'style' %}
    <style>
        :root {
            --cor_destaque: rgb(251, 255, 0);  
        }
    </style>
{% endblock %}
{% block 'h2' %}
    Redefinir Senha
{% endblock %}
{% block 'form' %}
    {% if form.email.errors %}
        {{ form.email.errors}}
    {% endif%}
    <div class="inputBox">
        {{ form.email }} <i>{{ form.email.label_tag }}</i>
    </div>
    <div class="links">
        <a href="{% url 'login' %}">Voltar a página de login</a>
    </div>
    <div class="inputBox">
        <input type="submit" value="Enviar Email">
    </div>
{% endblock%} 